# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


/task_api/venv/
__pycache__/
*.pyc
/task_api/.pytest_cache/
/task_api/app/__pycache__
/task_api/app/routers/__pycache__
/task_api/tests/__pycache__


*.db
*.db-journal

.env
.env.*
!.env.example

.pytest_cache/
.coverage

.vscode/
.idea/


logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

my-task-app/node_modules/

my-task-app/dist/
my-task-app/dist-ssr/

my-task-app/.env.local
my-task-app/.env.development.local
my-task-app/.env.test.local
my-task-app/.env.production.local

.DS_Store